<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
      <a class="nav-link" routerLink="/hood" routerLinkActive="active">Hood</a>
      <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
      <a class="nav-link" routerLink="/Businesses" routerLinkActive="active">Businesses</a>
      <button class="nav-link" routerLink="/Logout" routerLinkActive="active">Logout</button>
    </div>
  </div>
</nav>