
<h1>WELCOME TO THE NEIGHBOURHOOD</h1>
<P>GOOD,LOVING,COMUNITTEE</P>
<app-navbar></app-navbar>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">A tour Around </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Stallion Park Scenary</h4>
                                            <p class="card-text">Everybody needs beauty as well as bread, places to play in and pray in, where nature may heal and give strength to body and soul.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Structured Designs</h4>
                                            <p class="card-text">Be inspired by our timeless designs, well designed outlook and above all colourful living spaces.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Top Notch Schools</h4>
                                            <p class="card-text">Our schools provide a naturing and holistic environment for your kids.Enroll with us and you will never regret it.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Sauna & Spa</h4>
                                            <p class="card-text">We don’t need to be perfect… we just need to get started.Everyday is a spa day.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Gym & Fitness</h4>
                                            <p class="card-text">Have a purpose and you won’t need motivation.This is what you will get from us.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Beautiful Scenaries</h4>
                                            <p class="card-text">Tired of staying indoors day in day out.Get to experience the camp out country vibe without having to travell.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Swimming Pool</h4>
                                            <p class="card-text">Well maintained beautiful pools just for you and your cherished loved ones.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Golf Course</h4>
                                            <p class="card-text">If you think it's hard to meet new people, try picking up the wrong golf ball.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Inspiring Interiors</h4>
                                            <p class="card-text">Clever design converts and changes according to need.We create your sensuality.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/src/assets/jquery-3.3.1.min.js"></script>